<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <link rel="icon" href="/images/favicon.png">
  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}

  <!-- Open Graph -->
  <meta property="og:title" content="Lamashtan Cult">
  <meta property="og:url" content="https://lamashtancult.com/">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="Lamastan Cult">
  <meta property="og:description" content="Lamastan Cult">
</head>
<body>
  <header>
    {{ partial "nav.html" . }}
    <h1>{{ .Title }}</h1>
    <p>{{ .Page.Params.Subtitle }}</p>
  </header>
  {{ block "main" . }}{{ end }}
  <footer>
    <p><i>Lamashtan Cult</i>, Vitoria's TTRPG related blog.</p>
  </footer>
</body>
</html>
